{% extends "layout.html" %}
{{ form.hidden_tag() }}
{% block content %}
    <h1>About Pet Caring Service</h1>
    <p>Pet Caring Service (PCS) was established in November 2020 with the aim of providing a platform for pet owners to find care takers to take care of their pet</p>
    <p>We hope that our platoform allow busy pet owners to find people to take care of their pets when they are busy, and also provide a platform for people who enjoy taking care of pets to earn extra income.</p>
    <p>Users are free to sign up as a Pet Owner, Care Taker, or Both!</p>
    <br>
    <br>
    <h1>Pet Owners</h1>
    <p>Users may sign up as a pet owner and register their pets in the system. You may register any number of pets that you wish, and you may also indicate the special needs of your pet such as dietry restrictions</p>
    <p>Pet owners can then search for a suitable caretaker to take care of their pet</p>
    <p>Payment can be done through cash or credit card</p>
    <br>
    <br>
    <h1>Care Taker</h1>
    <p>Users may sign up as either a part time or full time care taker</p>
    <br>
    <h3>Part Time Care Taker</h3>
    <p>As a part time care taker, you can choose the types of pets you would like to take care of and the base price per day for them<./p>
    <p>The base price per day will increase depending on your rating.</p>
    <p>If your rating is below 4, you can only take care to up to 2 pets per day. If your rating is more than or equal to 4, you may take care to up to 5 pets per day.</p>
    <p>You can choose to take leave any time you want as long as you did not accept any job on that day before hand.</p>
    <p>25% of your earnings will go to PCS.</p>
    <br>
    <h3>Full Time Care Taker</h3>
    <p>As a full time care taker, you can choose the types of pets you would like to take care of, but the base price per day will be automatically set by the PCS admins.</p>
    <p>The base price per day will increase depending on your rating.</p>
    <p>You can take care to up to 5 pets per day.</p>
    <p>You can only take leave if you have not accepted any job in that day. Also, you are required to work for a minimum of 2 x 150 consecutive days a year. You are restricted from taking a leave if the date you want to take a leave breaks this requirement.</p>
    <p>You can earn up to $3000 per month for up to 60 pet-day, and you will receive 80% of the profit as bonus for any excess pet-day.</p>
{% endblock content %}
