{% extends "layout.html" %}
{% block content %}
    <h1>Hi {{ current_user.username }}!</h1>

    <h5>Check the average price to take care of each pet type set by caretakers here!</h5>
    <a href="{{ url_for('view.admin_view_pet_category_and_price_summary')}}" class="btn btn-primary">Click here!</a>
    <h5>Check the statistics of the total number of jobs accepted by all the caretakers in each month for each year!</h5>
    <a href="{{ url_for('view.admin_view_jobs_per_month_summary')}}" class="btn btn-primary">Click here!</a>
    <h5>Check out the top 10 underperformers for each month in any year!</h5>
    <a href="{{ url_for('view.admin_view_underperforming_caretakers')}}" class="btn btn-primary">Click here!</a>
{% endblock content %}
