{% extends "layout.html" %}
{% block content %}

  <div class="row">
  <div class="card" style="width: 18rem;">
  <img src="static/images/petimage1.jpg" class="img-fluid">
  <div class="card-body">
    <h5 class="card-title">For New CareTakers:</h5>
    <h5>Set your prices here!</h5>
    <a href="{{ url_for('view.part_time_set_price')}}" class="btn btn-primary">Set price</a>
  </div>
  </div>
  <div class="card" style="width: 18rem;">
  <img src="static/images/petimage1.jpg" class="img-fluid">
  <div class="card-body">
    <h5>Update your availability dates here!</h5>
    <a href="{{ url_for('view.caretaker_update_availability')}}" class="btn btn-primary">Update availability</a>
  </div>
  </div>
  </div>
  <div class="row">
  <div class="card" style="width: 18rem;">
  <img src="static/images/petimage1.jpg" class="img-fluid">
  <div class="card-body">
    <h5>Look at your incomplete/upcoming transactions here!</h5>
    <a href="{{ url_for('view.caretaker_incomplete_transactions')}}" class="btn btn-primary">View transactions</a>
  </div>
  </div>
  <div class="card" style="width: 18rem;">
  <img src="static/images/petimage1.jpg" class="img-fluid">
  <div class="card-body">
    <h5>Look at your completed transactions here!</h5>
    <a href="{{ url_for('view.caretaker_completed_transactions')}}" class="btn btn-primary">Completed transactions</a>
  </div>
  </div>
  </div>
{% endblock content %}
